@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4">
        
        <a href="http://localhost:5002/swagger" target="_blank">Swagger</a>
    
    </div>

    <div class="content px-4">

        @Body
    
    </div>

</div>
