@page "/"

<h1>
    Sistema Autônomo para Identificação e gerenciamento de Veículos em Estacionamentos.
</h1>

<p>
    Trabalho de Conclusão de Curso apresentado ao curso de Bacharelado
    em Ciência da Computação da Faculdade de Ciências Exatas e de Tecnologia da
    Universidade Tuiuti do Paraná, como requisito à obtenção do grau de Bacharel.
</p>