@page "/"

<div class="col-md-8">
        <h1>
            Sistema para Identificação e gerenciamento de Veículos em Estacionamentos.
        </h1>

        <dl>
            <dt>Alocar Veículo</dt>
            <dd>Classificar um veículo usando uma imagem como base e então o alocar em uma vaga adequada.</dd>
            <dt>Estacionamento</dt>
            <dd>Verifica carros já alocados no estacionamento e o restante de vagas disponíveis.</dd>
            <dt>Database</dt>
            <dd>Exibe veículos conhecidos pelo algoritmo de classificação e as vagas registradas no estacionamento.</dd>
        </dl>
</div>
